{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greystones Coast Guard Weather</title>
    <link rel="stylesheet" href="{% static 'weatherdata/styles.css' %}">
</head>
<body>
    <header>
        <!-- Navigation Bar -->
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'sourceformat_list'%}">Source Formats</a></li>
                <li><a href="{% url 'sourceurl_list'%}">Source URLs</a></li>
                <li><a href="{% url 'latest_forecast'%}">Forecast</a></li>

                <!-- Add more navigation links here -->
            </ul>
        </nav>
    </header>

    <main>
        <!-- Main content block -->
        {% block content %}
        <!-- Content from child templates will appear here -->
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content -->
        <p>&copy; 2023 Greystones Coast Guard Unit</p>
    </footer>

    <!-- JavaScript Links -->
    
    <!-- Add additional JS files here -->
    
</body>
</html>