/* Base styles */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef1f5;
    color: #333;
    padding: 0;
    font-size: 18px;
}

header {
    background-color: #0d47a1;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo {
    flex: 0 0 auto;
}

.logo img {
    max-height: 50px;
    width: auto;
    padding: 5px;
}

.nav-main {
    flex-grow: 1;
    text-align: center;
}

.nav-main ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main ul li {
    display: inline;
    margin: 0 10px;
}

.nav-main ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

.nav-main ul li a:hover,
.nav-main ul li a:focus {
    background-color: #1565c0;
    color: #ffffff;
}

.auth-links {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.auth-links a, .auth-links span {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 10px 15px;
}

.auth-links a:hover {
    background-color: #1565c0;
    color: #ffffff;
}

main {
    padding: 20px;
    flex: 1;
    margin-bottom: 0; /* Reduce gap above footer */
}

h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    color: #007bff;
    margin-bottom: 5px;
    margin-top: 5px;
}


footer {
    background-color: #0d47a1;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acknowledgments {
    font-size: smaller;
    text-align: left;
    margin-left: 20px; /* Adjust as needed */
}

.acknowledgments .logos {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the space between logos */
}

.acknowledgments .logo {
    height: 50px; /* Adjust the size of logos */
    width: auto;
}

.acknowledgments .logo-irish-lights {
    height: 65px; /* Adjust the size of logos */
    width: auto;
}

/* Forecast styles */
.forecast-section, .buoy-section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px; /* Reduced gap between sections */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.forecast-section p, .buoy-section p {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.buoy-section li {
    margin-top: 3px;
    margin-bottom: 3px;
}

.buoy-section h5 {
    margin-bottom: 0.1em;
}

h1 {
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 0.75em;
}

.top-section-container h4 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    color: #007bff;
}

.forecast-section h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    color: #007bff;
}

ul {
    padding-left: 20px;
}

/* Top Section Container Styles */
.top-section-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    margin-bottom: 5px; /* Reduced gap between top and bottom containers */

}

.top-section-container p {
    margin-bottom: 3px;
    margin-top: 3px;
}

.recent-forecast {
    flex: 2;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
}

.buoy-section {
    flex: 1;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
}

.warning {
    color: red; /* Change the text color to red for warnings */
    font-weight: bold; /* Optional: Make the text bold */
}

.icon {
    margin-right: 5px; /* Space between the icon and the text */
}

@media (max-width: 768px) {
    .top-section-container {
        flex-direction: column;
    }
    .recent-forecast, .buoy-section {
        flex: 1;
    }
    nav {
        flex-direction: column;
    }
    .nav-main, .auth-links {
        width: 100%;
        justify-content: center;
    }
    .logo {
        margin-bottom: 10px;
    }

    .acknowledgments .logo {
        height: 30px;
    }

    .acknowledgments .logo-irish-lights {
        height: 30px;
    }
}

/* Style for the copyright section */
.copyright {
    text-align: right;
    margin-right: 20px; /* Adjust as needed */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .acknowledgments, .copyright {
        margin-left: 0;
        margin-right: 0;
    }
}
