{% extends "base.html" %}

{% block title %}Latest Forecast{% endblock %}

{% block content %}
    <h1>Latest Sea Area Forecast</h1>
    {% if latest_forecast %}
        <div class="top-section-container">
            <div class="recent-forecast">
                <p>Issued Time: {{ latest_forecast.issued_time }}</p>
                <p>Valid Until Time: {{ latest_forecast.until_time }}</p>
                <p class="{% if latest_forecast.gale_status == 'yes' %}warning{% endif %}">
                        Gale Warning:
                        {% if latest_forecast.gale_status == 'yes' %}
                            <span class="icon">⚠️</span>
                        {% endif %}
                        {{ latest_forecast.gale_status }}
                </p>
                <p class="{% if latest_forecast.small_craft_status == 'yes' %}warning{% endif %}">
                    Small Craft Warning:
                    {% if latest_forecast.small_craft_status == 'yes' %}
                        <span class="icon">⚠️</span>
                    {% endif %}
                    {{ latest_forecast.small_craft_status }}
                </p>
                <p>Swell Status: {{ latest_forecast.swell_status }} {{ latest_forecast.swell_text }}</p>
                <h4>{{ latest_forecast.met_sit_head }}</h4>
                <p>{{ latest_forecast.met_sit_text }}</p>
                <h4>{{ latest_forecast.outlook_head }} {{ latest_forecast.outlook_time }}</h4>
                <p>{{ latest_forecast.outlook_text }}</p>
                <br>
            </div>
            <div class="buoy-section">
                <!-- Buoy Data -->
                {% if latest_buoy_data %}
                    <h3>Dublin Bay Buoy (MMSI 992501301)</h3>
                    <p>53°19.912'N, 006°04.646'W</p>
                    <p>Updated: {{ latest_buoy_data.DateTransmitted|date:"Y-m-d" }} {{ latest_buoy_data.DateTransmitted|date:"H:i" }}</p>
                    <h5>Wind:</h5>
                    <ul>
                        <li>Speed: {{ latest_buoy_data.AverageWindSpeed }} knots</li>
                        <li>Direction: {{ latest_buoy_data.WindDirection }} deg (true)</li>
                        <li>Gust: {{ latest_buoy_data.GustSpeed }} knots</li>
                        <li>Gust Direction: {{ latest_buoy_data.WindGustDirection }} deg (true)</li>
                    </ul>

                    <h5>Wave:</h5>
                    <ul>
                        <li>Height: {{ latest_buoy_data.WaveHeight }} meters</li>
                        <li>Period: {{ latest_buoy_data.WavePeriod }} seconds</li>

                    </ul>
                    <p>Water Temperature: {{ latest_buoy_data.WaterTemperature }} C</p>
                                <!-- Add more fields as needed -->
                {% else %}
                    <p>No buoy data available.</p>
                {% endif %}
            </div>
            <div class="buoy-section">
                <!-- Buoy Data -->
                {% if latest_metie_buoy_data %}
                    <h3>Met.ie M2 buoy</h3>
                    <p>53° 28′ 48″N 5° 25′ 30″W</p>
                    <p>Updated: {{ latest_metie_buoy_data.time|date:"Y-m-d H:i" }} </p>
                    <h5>Wind:</h5>
                    <ul>
                        <li>Speed: {{ latest_metie_buoy_data.WindSpeed |default_if_none:"Data not available" }} knots</li>
                        <li>Direction: {{ latest_metie_buoy_data.WindDirection |default_if_none:"Data not available"}} deg (true)</li>
                        <li>Gust: {{ latest_metie_buoy_data.Gust |default_if_none:"Data not available"}} knots</li>

                    </ul>

                    <h5>Wave:</h5>
                    <ul>
                        <li>Height: {{ latest_metie_buoy_data.WaveHeight |default_if_none:"Data not available"}} meters</li>
                        <li>Period: {{ latest_metie_buoy_data.WavePeriod |default_if_none:"Data not available"}} seconds</li>
                        <li>Wave Direction: {{ latest_metie_buoy_data.MeanWaveDirection |default_if_none:"Data not available"}} deg (true)</li>
                        <li>Max wave High: {{ latest_metie_buoy_data.Hmax |default_if_none:"Data not available"}} meters</li>
                    </ul>
                    <p>Water Temperature: {{ latest_metie_buoy_data.SeaTemperature |default_if_none:"Data not available"}} C</p>
                    <p>Air Temperature: {{ latest_metie_buoy_data.AirTemperature |default_if_none:"Data not available"}} C</p>
                    <p>Pressure: {{ latest_metie_buoy_data.AtmosphericPressure |default_if_none:"Data not available"}} milibar</p>
                    <p>Relative Humidity: {{ latest_metie_buoy_data.RelativeHumidity |default_if_none:"Data not available"}} %</p>

                                <!-- Add more fields as needed -->
                {% else %}
                    <p>No buoy data available.</p>
                {% endif %}
            </div>
        </div>
        <h3>Areas Weather Forecasts</h3>
        <div class="forecast-section">
            {% for coast in weather_coasts %}
                <div>
                    <h4>{{ coast.area }}</h4>
                    <p>Wind: {{ coast.wind }}</p>
                    <p>Weather: {{ coast.weather }}</p>
                    <p>Visibility: {{ coast.visibility }}</p>
                    <br>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <p>No forecasts available.</p>
    {% endif %}
{% endblock %}
